@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
}


@layer components {
  .size-section{
    @apply mx-auto w-4/5 lg:w-[70%] 2xl:w-3/5;
  }

  .title-section {
    @apply font-title font-semibold text-2xl lg:text-3xl text-center;
  }

  .paragraph-news {
    @apply font-text leading-7 md:leading-8 lg:leading-9 md:px-4 text-sm lg:text-base
  }

  .subtitle-news {
    @apply font-semibold text-base md:text-lg lg:text-2xl
  }

  .btn-design {
    @apply py-[14px] px-[15px] lg:py-[20px] lg:px-[40px] text-sm md:text-base text-title rounded-md font-semibold relative w-fit active:bg-secondary1;
  }

  .btn-primary {
    @apply btn-design bg-primary1;
  }

  .btn-secondary {
    @apply btn-design bg-white;
  }

  .parent-btn {
    @apply relative z-10;
  }

  .btn-primary::after, .btn-secondary::after {
    content: '';
    position: absolute;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    background-color: gainsboro;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: 6px;
    left: 6px;
    z-index: -1;
  }
  
  .btn-primary:hover::after, .btn-secondary:hover::after{
    @apply w-full h-full bg-gradient1
  }

  .center-absolute {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

.select-long {
  --tw-pan-y: pan-y;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom);
}
